<div class="parallax-container hide-on-med-and-down valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h1 class="header col s12 light">SOBRE MI</h1>
            </div>
        </div>
    </div>
    <div class="parallax" materialize="parallax">
        <img src="assets/img/hpspecial2.jpg">
    </div>
</div>
<div class="hide-on-large-only">
    <h4 class="center-align">SOBRE MI</h4>
</div>
<div class="container pink lighten-5">
    <div class="padding hide-on-med-and-down"></div>
    <p class="center-align">
        <img src="assets/img/kumo.jpg" alt="" class="circle responsive-img ">
    </p>
    <p>
        Hola, soy Belén Prieto (Madrid 1993) también conocida como Kumo. Soy ilustradora y diseñadora gráfica.
    </p>
    <img class="comicon" src="assets/img/comicon.jpeg" />
    <p>
        Empecé en el mundo de la fotografía estudiando un curso básico en la escuela Metropolis C. E. (Madrid) y posteriormente un curso de fotoperiodismo en Blank Paper. Pasado ese año, decidí volver a la escuela Metropolis pero esta vez para centrarme en la
        ilustración y el diseño gráfico, haciendo a la vez los dos cursos anuales en esas respectivas ramas. Una vez termino, paso dos años más en el Arteneo (Madrid), cursando el grado profesional de ilustración tradicional y digital. A lo largo de todos
        estos años de estudio he aprendido a utilizar programas como Photoshop (tanto para retoque fotográfico, diseño e ilustración), y otros de ámbito digital como Illustrator, Indesing, Corel Painter y Zbrush.
    </p>
    <p>
        En cuanto a técnicas tradicionales he estudiado trama, acuarela, gouache, acrílico y aerógrafo. Además de eso, tanto en Metrópolis como Arteneo, di clases de realización de cómics y storyboard. Por vía propia he aprendido Paint Tool SAI especializándome
        en el campo de la ilustración digital y me he iniciado en el mundo de la animación con cursos online de Flash ofertados en la plataforma Lynda.
    </p>
    <p>
        Desde hace un par de años llevo mi arte a diversos salones. Muchos me conoceréis de visitarme en la Japan Weekend de Madrid, la Madrid Otaku, el salón del manga de Valencia o las Comic Con de Madrid y Valencia. Poco a poco voy acudiendo a más salones
        para poder conoceros y que compartais conmigo vuestras opiniones sobre mis dibujos.
    </p>
    <p>
        Actualmente puedes seguir mi trabajo en esta página o a través de <a href="https://www.artstation.com/kumosplace" target="_blank">ArtStation</a>,
        <a href="https://www.youtube.com/user/kumosplace" target="_blank">Youtube</a> y <a href="https://kumito93.deviantart.com/" target="_blank">Devianart</a>. Para contacto directo puedes usar este blog, mi correo electrónico ( <a href="mailto:kumosplace@gmail.com"
            target="_blank">kumosplace@gmail.com</a> ) o mi twitter ( <a href="https://twitter.com/Kumosplace" target="_blank">@kumosplace</a> ).
    </p>
</div>