<header>
    <nav>
        <div class="nav-wrapper">
            <div class="paddingleft">
                <a href="index.html" class="brand-logo">
                    Kumo's places
                </a>
            </div>
            <a href="#" data-activates="mobile-demo" class="button-collapse" materialize="sideNav"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down paddingright">
                <li routerLinkActive="active"><a [routerLink]="['home']">Inicio</a></li>
                <li routerLinkActive="active"><a [routerLink]="['portfolio']">Portfolio</a></li>
                <li routerLinkActive="active"><a [routerLink]="['about']">Sobre mi</a></li>
                <li routerLinkActive="active"><a [routerLink]="['event']">Próximos eventos</a></li>
                <li routerLinkActive="active"><a [routerLink]="['youtube']">Youtube</a></li>
                <li routerLinkActive="active"><a href="https://tienda.kumosplace.com/">tienda</a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li routerLinkActive="active"><a [routerLink]="['home']">Inicio</a></li>
                <li routerLinkActive="active"><a [routerLink]="['portfolio']">Portfolio</a></li>
                <li routerLinkActive="active"><a [routerLink]="['about']">Sobre mi</a></li>
                <li routerLinkActive="active"><a [routerLink]="['event']">Próximos eventos</a></li>
                <li routerLinkActive="active"><a [routerLink]="['youtube']">Youtube</a></li>
                <li routerLinkActive="active"><a href="https://tienda.kumosplace.com/">tienda</a></li>
            </ul>
        </div>
    </nav>
</header>